.-cs-theme-4 {

  // Palette
  $t-palette1: $palette4-1;

  $t-palette2: $palette4-2;

  .box-selector .-palette {
    &.-range-1 {
      @for $i from 1 through length($t-palette1) {
      	.range:nth-child(#{$i}) {
          span {
            background-color: rgba(nth($t-palette1, $i), 1);

            &.-bordered {
              border: 1px solid nth($t-palette1, $i);
            }
          }
      	}
      }
    }

    &.-range-2 {
      @for $i from 1 through length($t-palette2) {
      	.range:nth-child(#{$i}) {
          span {
            background-color: rgba(nth($t-palette2, $i), 0.3);

            &.-bordered {
              border: 1px solid nth($t-palette2, $i);
            }
          }
      	}
      }
    }
  }
}
