.m-search {
  padding:rem(10px);
  position: relative;

  > .icon {
    position: absolute;
    top: rem(13px);
    left: rem(13px);
  }

  > input {
    padding-left: 40px;
    background-color: transparent;
    border: 1px solid $font-color-1;
    color: $font-color-1;
    height: rem(34px);
    line-height: rem(34px);
    @include placeholder {
      font-size: rem(11px);
      letter-spacing: rem(1.3px);
      color: $font-color-1;
    }
  }
}
