body {
  background: $bg-color-3;
}

.l-cover {
  min-height: rem(860px);
  position: absolute;
  top:0;
  left:0;
  padding-top: rem(50px);
  width: 100%;
  display: flex;
  align-items: center;
  background-image: url("cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: $screen-sm) {
    min-height: rem(667px);
    flex-direction: column;
    justify-content: center;
  }

  .mobile-menu-open & {
    background: transparent;
  }
}

.l-mobile-search {
  padding:rem(10px) 0;
}
