

.footer {
  background-color: $bg-color-landing-1;

  .pre-footer {
    .logo {
      height: rem(300px);
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url(#{asset_path('landing-footer.png')});
      //To add image with different ratio in large screens
      @media screen and (min-width: $screen-md) {
        background-image: url(#{asset_path('landing-footer.png')});
      }
    }
  }

  .column {
    padding: 3rem;
    @media screen and (max-width: $screen-md) {
      padding: 1.5rem;
      text-align: center;
      margin: 0 auto;
    }
  }

  .icon {
    fill: $font-color-landing-1;
  }

  .nav {

    > ul {
    padding: 1rem 1rem 0;

      > li {
        padding: .1rem 0;

        > a {
          color: $font-color-landing-1;
          font-size: rem($font-size);
          font-family: $font-secondary;
          font-weight: 700;
          line-height: 1.5rem;

          text-decoration: none;
          text-transform: uppercase;

          &:hover {
            font-size: rem($font-size + 3px);
          }
        }
      }
    }
  }

  .partnerts {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    > .title {
      display: block;
      margin: 1rem 0;

      color: $font-color-landing-1;
      font-size: $font-size-small;
      font-family: $font-secondary;
      font-weight: 700;
    }

    > .partner-list {
       > .item {
         margin: 0 .5rem;
       }
    }

    .icon{
      fill: rgba($font-color-landing-4, 0.6)
    }
  }

  > .copyright {
    padding: .5rem 5rem;

    font-size: $font-size-small;
    font-family: $font-secondary;
    line-height: 1rem;
    font-weight: 400;

    background-color: $bg-color-landing-3;

    text-align: center;
  }
}
