.map {
  height: rem(700px);
  position: absolute;
  top:0;
  left:0;
  width: 100%;

  background-color: $bg-color-landing-3;

  z-index: -1;

  img {
    width: 100%;
  }

  &._expanded {
    z-index: 0;
  }
}

.marker {
  background-color: $bg-color-landing-4;
  border-radius: 50%;
  position: relative;
  filter: blur(0.7px);

  &:after {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    border: 2px solid $bg-color-landing-4;
    border-radius: 50%;
    box-sizing: border-box;
  }
}
