.slider {
  padding: 2rem;

  background-color: $bg-color-landing-4;

  .slide {

    display: none;

    outline: none;

    &:first-child {
      display: block;
    }

    &:hover, &:focus {
      outline: none;
    }

    > .slide-content {
      padding: 2rem 1rem 1rem;
      text-align: center;

      > .title {
        font-family: $font-main;
        font-size: $font-size-large;
        line-height: 2.5rem;
        color: $font-color-landing-4;
      }
      > .content {
        font-family: $font-main;
        font-size: $font-size-medium;
        line-height: 2.2rem;
        color: $font-color-landing-1;
      }
    }

    > .slide-link {
      text-align: center;
      margin: 1rem;
    }
  }

  .slick-initialized {
    .slide {
      display: block;
    }
  }

  .slick-dots {
    padding: 0;
    text-align: center;
    margin: 0;

    > li {
      display: inline-block;

      padding: .5rem;

      cursor: pointer;

      button {
        font-size: 0;
        line-height: 0;

        display: block;

        width: rem(10px);
        height: rem(10px);

        border-radius: 50%;
        border: none;
        outline: none;
        background: rgba($font-color-landing-1, 0.5);

        &:focus, &:hover {
          outline: none;
        }
      }

      &.slick-active {
        button {
          background-color: $font-color-landing-2;
        }
      }
    }
  }
}
