/ .nested-fields
/   .row
/     .grid-sm-9
/       = f.input :file, as: :file, accept: ".csv"
/     .grid-sm-2.year
/       = f.input :year
/     .grid-sm-1
/       = link_to_remove_association '×', f, class: 'btn -delete'
/   = f.input :id, as: :hidden
.nested-fields
  .row
    .grid-sm-7
      = f.input :year
  = f.input :id, as: :hidden
