- file_class_name = image.exists? ? '_has_file' : nil
- input_style = image.exists? ? "background-image: url(#{image})" : nil
= f.input name, as: :file, label: false, input_html: { class: file_class_name, style: input_style }
