.box-list {
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  padding: 1rem;
  min-height: 5rem;

  border: 1px solid $border-color-1;

  & > .item {
    display: block;
    position: relative;
    padding: .5rem;
    padding-right: 1rem;
    width: 25%;

    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;

    span {
      font-family: $font-secondary;
      font-size: $font-size;
      line-height: 1.2;
      color: $font-color-1;
    }

    &.-color {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      span {
        padding-left: 5px;
        max-width: 90px;
      }
    }
  }
  &.-selectable {
    > .item {
      &._selected::after {
        @include checked();
        top:13px;
        right: 0;
      }

      &:not(._selected):hover {
        background-color: rgba($bg-color-4, 0.3);
        border-radius: 3px;

        &::after {
          @include checked(0.3);
          top:13px;
          right: 0;
        }
      }
    }
  }
}
