.data-table {

  th, td {
    padding: 0.5rem;
    border-bottom: 1px solid $border-color-1;
  }

  th {
    font-family: $font-secondary;
    font-weight: normal;
    text-align: left;
    text-transform: uppercase;
    color: rgba($font-color-1, .5);
  }

  a {
    text-decoration: none;
  }

}
