label {
  display: block;
  margin: 0.5rem 0;

  text-transform: uppercase;
  font-size: rem(14px);
  color: rgba($font-color-1, 0.3);
  letter-spacing: rem(0.5px);

  abbr[title] {
    color: $error-color;
    border-bottom: 0;
  }
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
textarea,
select {
  display: block;
  width: 100%;
  margin: 0.5rem 0;

  background-color: transparent;

  border: 0;
  border-bottom: 1px solid $border-color-1;
}

textarea {
  min-height: rem(50px);
  border: 1px solid $border-color-1;
}

.form-row {
  margin-bottom: 3rem;

  .error {
    color: $error-color;
  }
}

.radio, .checkbox {
  display: inline-block;
  margin-right: 4rem;

  label {
    text-transform: none;
  }

  input {
    margin-right: .5rem;
  }
}

.nested-fields {
  margin-bottom: 1rem;
}

.case_study_title input {
  font-family: 'Roboto Slab';
  font-size: rem(21px);
  font-weight: lighter;
}
