$thumb-height: rem(194px);

.thumbnail {
  margin-bottom: 2rem;
  position: relative;

  > .content {
    display: block;
    max-width: 100%;
    min-height: $thumb-height;
    position: relative;

    text-decoration: none;

    outline: 2px solid transparent;

    transition: all .3s ease;

    @extend %clearfix;

    & > .caption {
      position: absolute;
      max-width: calc(100% - 20px);
      left: rem(10px);
      bottom: rem(10px);
    }

    .thumb {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      background-color: $blue;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      overflow: hidden;
    }

    .caption-item {
      display: block;
      float: left;
      clear: left;
      margin: 0;
      padding: .5rem;

      font-family: $font-main;
      font-size: rem($font-size-medium);
      color: $font-color-2;
      line-height: 1.1;

      background-color: $bg-color-2;

      &.-secondary {
        font-family: $font-secondary;
        font-size: rem($font-size);
        color: $font-color-1;

        background-color: $bg-color-3;
      }
    }

  }

  &:hover {
    > .content {
      box-shadow: 0 0 28px rgba(0, 0, 0, 0.20);
      outline: 2px solid $border-color-2;
    }
  }

  &._unpublished .thumb {
    opacity: .5;
  }

  .actions {
    position: absolute;
    top: 1rem;
    right: 1rem;

    .btn {
      padding: .1rem;
    }
  }
}

.btn.-thumbnail {
  min-height: $thumb-height;

  &::after {
    margin-top: -20px;
    font-size: 100px;
  }
}
