%list-font {
  font-family: $font-secondary;
  font-size: $font-size;
  line-height: 1.2;
}

.unordered-list {
  display: block;
  min-height: 5rem;
  margin: 1rem 0;

  border: 1px solid $border-color-1;

  > .list-header, > .list-content {
    text-align: center;
  }

  > .list-header {
    span {
      @extend %list-font;
      text-transform: uppercase;
      color: rgba($font-color-1, .5);
    }
  }

  > .list-content {
    position: relative;

    > .item {
      padding: .5rem 0;
      display: flex;
      align-items: center;

      span {
        @extend %list-font;
        color: $font-color-1;
      }
    }
  }
}
