._hidden {
  display: none !important;
}

._invisible {
  visibility: hidden;
  opacity: 0;
}

._right {
  display: flex;
  justify-content: flex-end;
}

._vcenter {
  display: flex;
  vertical-align: center;
  align-items: center;
}

._center {
  display: flex;
  justify-content: center;
}

._clearfix {
  @extend %clearfix;
}

._upper {
  text-transform: uppercase;
}


._is-loading {
  @include spinner(20px, 3px, $bg-color-1);
}

@media screen and (max-width: $screen-sm) {
  ._xs_hidden {
    display: none;
  }
}

@media screen and (min-width: $screen-sm) {
  ._sm_hidden {
    display: none !important;
  }
}
