%clearfix {
  &::before,
  &::after {
    content: "";
    display: table;
  }
  &::after {
    clear: both;
  }
}

@function rem($px, $font-initial: 16px) {
  @return ($px / $font-initial) * 1rem;
}

@mixin placeholder() {
  &::-webkit-input-placeholder { @content}
  &:-moz-placeholder { @content}
  &::-moz-placeholder { @content}
  &:-ms-input-placeholder { @content}
}

@mixin arrow($width, $color, $border-width, $deg) {
  width: $width;
  height: $width;
  border-top: $border-width solid $color;
  border-left: $border-width solid $color;
  -webkit-transform: rotate($deg);
  transform: rotate($deg);
  pointer-events: none;
}
