@function rem($px, $font-initial: 16px) {
  @return ($px / $font-initial) * 1rem;
}

._right {
  justify-content: flex-end;
}

._vcenter {
  display: flex;
  vertical-align: center;
  align-items: center;
}
