//Fonts
$font-main: 'Roboto Slab';
$font-secondary: 'Lato';

// EM base
$font-initial: 16px;

// Screen sizes
$screen-sm:  640px  !default;
$screen-md: 1024px !default;
$screen-lg:  1440px !default;
$screen-xl: 1920px !default;

// Colors
$white: white;
$black: #000;
$dark: #040205;
$dark-gray: #363636;
$gray: #D7D7D7;
$blue: #316274;
$light-blue: #12e9e4;
$dark-blue: #00324f;

// Theme
$font-color-1: $white;
$font-color-2: $dark-gray;
$font-color-3: $dark-blue;
$font-color-4: $blue;

$bg-color-1: $dark-blue;
$bg-color-2: $white;
$bg-color-3: $black;
$bg-color-4: $blue;

$border-color-1: $blue;
$border-color-2: $white;

$error-color: #fff500;
$notice-color: #00a600;

// Legend
$legend-1: #ffc602;
$legend-2: #ff6602;
$legend-3: #ff2a60;
$legend-4: #ea3eff;
$legend-5: #7836ff;
$legend-6: #b8b8b8;
