.box-selector {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &.-around {
    justify-content: space-around;
  }
  & > .item {
    display: inline-block;
    width: 30%;
    position: relative;
    margin-bottom: 1rem;

    border: 1px solid $border-color-1;
    box-sizing: border-box;

    &.checkbox {
      margin-right: 0;
      height: rem(100px);
      padding: 1rem;

      > label {
        display: none;
      }
    }

    > .icon {
      position: absolute;
      left: rem(5px);
      bottom: rem(5px);
    }

    &.-col-2 {
      width: 49%;
    }

    &.-col-3 {
      width: 32%;
    }

    &._selected {
      border-color: $font-color-1;

      > .icon-chart {
        fill: $font-color-1;
      }
    }

    &._selected::after {
      @include checked();
    }

    &.-center {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  & > .-palette {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: rem(130px);
    padding: .5rem;

    .range {

      > span {
        display: block;
        width: 1rem;
        height: 1.5rem;
        margin: .7em 0;

        box-sizing: border-box;
      }
    }

  }
}

.detail-item {
  display: block;
  width: 100%;
}
