%placeholder-font {
  font-family: $font-main;
  font-size: 20px;
  font-weight: 400;
}

.file {
  .name {
    margin: 0;
    position: relative;

    p {
      margin: 0;
      padding: 1rem;

      font-family: $font-secondary;
      font-size: $font-size;
      line-height: 1.2;
      color: $font-color-1;

      background-color: rgba(49, 98, 116, 0.3);
      border-radius: 5px;

      overflow: hidden;
      text-overflow: ellipsis;
    }

    > .close {
      position:absolute;
      top: 5px;
      right: 10px;
      display: block;

      color: rgba($font-color-1, .5);
      font-weight: normal;
      font-size: rem(20px);
      line-height: 1.8;

      cursor: pointer;
    }
  }

  &.-input {
    .year {
      padding-top: 1rem;
      padding-bottom: 1rem;

      input {
        margin-top: 1rem;
      }
    }
  }

  .year {
    position: relative;

    label {
      margin: 0;
      padding: 0;
      position: absolute;
      left: 0;
    }
    input {
      padding: 0;
      margin-left: rem(5px);
      margin-top: rem(5px);
      margin-bottom: 0;
      line-height: 2rem;
    }
  }
}

.input-file-wrapper {
  position: relative;
  height: rem(30px);
  margin: .5rem 0 2rem;
  padding: .5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 8px;
  border: 2px dashed $border-color-1;

  &:hover {
    border-color: $font-color-1;
  }

  text-align: center;

  label {
    display: none;
  }

  input {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    margin: 0;
    padding: 0;
    // to hide text in ff (apperars white column inside the input)
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    font-size: 0;

    //to hide background in ie
    opacity: 0;
    filter:alpha(opacity=0);
  }

  span.error {
    position: absolute;
    top: 5%;
    left: 0;
    right: 0;
  }

  > .placeholder {
    line-height: rem(30px);

    > .title {
      @extend %placeholder-font;
      display: block;
      color: $font-color-1;
    }

    > .sub-title {
      @extend %placeholder-font;
      color: $font-color-4;

      > .link {
        text-decoration: underline;

        margin: 0 5px;
      }
    }
  }

  &.-lg {
    height: rem(450px);
  }

  &._has_file {
    > .placeholder {
      display: none;
    }
  }
}
