.featherlight{
  padding: 2rem;
  padding-bottom: 4rem;
  background: rgba($bg-lightbox-color,.8);

  &:last-of-type{
    background: rgba($bg-lightbox-color,.8);
  }

  .featherlight-content {
    min-width: 50%;

    padding: 0;
    padding-bottom: 4rem;

    background-color: transparent;
    border: none;

    h1.title{
      font-size: $font-size;
      line-height: 1.3;
      color: $font-color-1;
    }

    iframe {
      width: 100%;
      height: 100%;
    }

    .featherlight-close-icon {
      display: none;
    }
    .featherlight-actions {
      margin-top: 1rem;
    }
  }
}
