.l-main {

  & > .header {
    position: fixed;
    top: rem(50px);
    left: 0;
    height: rem(80px);
    width: 100%;

    color: $font-color-3;

    background-color: $bg-color-2;

    box-shadow: 0 3px 18px rgba(0, 0, 0, 0.20);

    z-index: 2;
  }

  & > .content {
    margin: 2rem 0;
  }

  .content {
    h1 {
      margin-top: .5rem;
    }
  }

  .header + .content {
    padding-top: rem(80px);
  }

}
