.select-type-item {
  display: block;
  position: relative;
  max-width: rem(320px);
  width: 100%;
  height: rem(195px);

  .label {
    position: absolute;
    top: 50%;
    left: 50%;

    font-family: $font-secondary;
    font-size: rem($font-size-medium);
    text-transform: uppercase;

    transform: translate(-50%, -50%);
  }

  .icon {
    width: 100%;
    max-width: rem(320px);
    height: rem(195px);
  }
}
