$sidebar-item-width: rem(149px);
$sidebar-item-height: rem(91px);

.sidebar .btn.-plus {
  width: $sidebar-item-width;
  height: $sidebar-item-height;
}

.sidebar-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: $sidebar-item-width;
  height: $sidebar-item-height;
  margin-bottom: 1rem;

  font-size: rem(11px);
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: $font-color-1;

  background-color: rgba($bg-color-4, .2);

  transition: all .35s ease;

  a {
    color: $font-color-1;
    text-decoration: none;
  }

  .label {
    position: absolute;
    top: 50%;
    left: 50%;

    color: $font-color-1;

    transform: translate(-50%, -50%);
  }

  &._active {
    color: $font-color-3;
    background-color: $bg-color-2;

    a, .label {
      color: $font-color-3;
    }
  }

  &:hover {
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.4);
  }
}
