.thumbnail {
  position: relative;
  display: block;
  min-height: rem(194px); // Temporal
  max-width: 100%;
  margin-bottom: 2rem;

  text-decoration: none;

  background-color: $blue;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &:hover {
    box-shadow: 0 0 28px rgba(0, 0, 0, 0.20);
  }

  .caption {
    position: absolute;
    max-width: calc(100% - 20px);
    left: rem(10px);
    bottom: rem(10px);
  }

  .caption-item {
    display: block;
    margin: 0;
    padding: .5rem 1rem;
    float: left;
    clear: left;

    font-family: 'Roboto Slab';
    color: $font-color-2;
    line-height: 1.01;

    background-color: $bg-color-2;

    &.-dark {
      color: $font-color-1;
      background-color: $bg-color-3;
    }

    &.-big {
      font-size: rem(20px);
    }
  }
}
