.chart-legend {
  width: 98%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  padding: rem(0px) 1%;

  > .action {
    padding: rem(8px) (10px);
    font-family: $font-secondary;
    font-size: rem($font-size-small);
    letter-spacing: rem(1.3px);
    border: 2px solid transparent;
    cursor: pointer;

    &.selected {
      border-color: $white;
    }
  }
}