.chart {
  width: 100%;
  height: rem(270px);
  position: relative;
  
  .axis {
    &.y {
      .domain {
        stroke-width: 0;
        stroke: transparent;
        shape-rendering: crispEdges;
      }
    }

    &.x {
      .domain {
        stroke-width: 0;
        stroke: transparent;
        shape-rendering: crispEdges;
      }

      .tick {
        line {
          shape-rendering: crispEdges;
          stroke-width: 1;
          stroke: rgba($white, 0.2);
        }

        text {
          font-family: $font-secondary;
          font-size: rem($font-size-small);
          letter-spacing: rem(1px);
          shape-rendering: crispEdges;
        }
      }
    }
  }

  &.bar {
    height: auto;
    min-height: rem(230px);
    
    .bar {
      shape-rendering: crispEdges;
      transition: opacity .2s ease-in-out;
      transform: translate3d(0, 0, 0);

      &.unHighLight {
        opacity: 0.15;
      }
    }

    .axis {
      &.x {
        .domain {
          stroke: #B8B8B8;
          stroke-width: 1;
        }
      }
    }
  }

  &.pie {
    height: auto;
    min-height: rem(230px);

    .arc {
      transition: opacity .2s ease-in-out;
      transform: translate3d(0, 0, 0);

      &.unHighLight {
        opacity: 0.15;
      }
    }
  }

  &.line {
    height: auto;
    min-height: rem(230px);

    .handle {
      shape-rendering: crispEdges;
      fill: transparent;
      stroke-width: 2;
    }

    .line-top {
      stroke: #B8B8B8;
      stroke-width: 2;
      stroke-linecap: round;
    }

    .curstom-domain {
      stroke: #B8B8B8;
      stroke-width: 1;
      shape-rendering: crispEdges;
    }

    .area {
      shape-rendering: optimizeSpeed;
      transition: opacity .2s ease-in-out;
      transform: translate3d(0, 0, 0);
      fill: transparent;

      &.unHighLight {
        opacity: 0.15;
      }
    }

    .line-path {
      shape-rendering: optimizeSpeed;
      fill: transparent;
      transition: opacity .2s ease-in-out;
      transform: translate3d(0, 0, 0);

      &.unHighLight {
        opacity: 0.15;
      }
    }

    text {
      stroke-width: 0;
    }
  }
}