.cover {
  height: 100vh;
  padding: rem(100px) 0;
  margin-bottom: rem(130px);

  @extend %clearfix;

  @media screen and (min-width: $screen-md) {
    margin-bottom: 0;
    .wrap {
      padding-left: 100px;
      padding-right: 100px;
    }
  }

  .title {
    margin-bottom: rem(20px);

    > h1 {
      font-size: rem(70px);
      line-height: rem(70px);
      color: $font-color-1;
      border-bottom: 3px solid $font-color-1;
      margin: 0;

      @media (max-width: $screen-md) {
        font-size: rem(45px);
        line-height: rem(52px);
      }
    }
  }


  .partners {
    padding: rem(20px) 0;

    .partner {
      margin-right: rem(25px);
      margin-top: rem(15px);
      text-decoration: none;
      display: inline-block;
    }
  }

}
