.cover {
  position: relative;
  height: 100vh;

  @extend %clearfix;

  .caption {
    position: relative;
    z-index: 1;
  }

  .title {
    margin-top: 0;
    margin-bottom: 1rem;

    border-bottom: 4px solid $font-color-1;

    & > h1 {
      margin: 0;

      font-size: rem(45px);
      line-height: 1;
      color: $font-color-1;

      @media (min-width: $screen-md) {
        font-size: rem(70px);
      }
    }
  }


  .partners {
    margin: 1rem 0;

    .partner {
      display: inline-block;

      margin-right: 1rem;

      text-decoration: none;

      vertical-align: middle;
    }
  }

}
