.cover {
  position: relative;
  height: calc(100% - 63px);

  @media screen and (min-width: $screen-sm) {
    height: 100vh;
  }

  @extend %clearfix;
  @include veil;

  .caption {
    position: relative;
    z-index: 1;
  }

  .title {
    margin-top: 0;
    margin-bottom: 1rem;
    padding-bottom: 1rem;

    border-bottom: 4px solid;

    & > h1 {
      margin: 0;

      font-size: rem($font-size-big);
      line-height: 1;

      @media (min-width: $screen-sm) {
        font-size: rem($font-size-extra);
      }
    }
  }

  .partners {
    margin: 1rem 0;

    .partner {
      display: inline-block;
      margin-right: 1rem;

      text-decoration: none;
      vertical-align: middle;
    }

    .action {
      font-weight: 400;
      padding-top: rem(6px);
      padding-bottom: rem(6px);
    }
  }

}
