.dashboard {
  height: auto;
  position: relative;
  top: 0;
  margin: 0 -1rem;
  padding: 0 1rem;
  padding-bottom: 250px;

  overflow: scroll;
  z-index: 1;

  .gradient{
    position: absolute;
    top:0;
    left:0;
    height: rem(94px);
    width: 100%;

    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      right:0;
      left:0;
      top:0;
      opacity: 1;
      transition: opacity .5s ease;
      transition-delay: .5s;
      z-index: 1;
    }
    @media screen and (max-width: $screen-sm) {
      &:before {
        opacity: 0;
      }
    }
  }

  &._menu-open & {
    .gradient:before {
      opacity:0;
      transition: none;
    }
  }

  @extend %clear-scroll-bars;

  @media screen and (min-width: $screen-sm) {
    height: calc(100vh - 3rem);
    padding-bottom: 3rem;
  }

  > .title {
    margin-top: rem(15px);
    border-top: 4px solid;
    border-bottom: 4px solid;

    & > h2 {
      margin: .5rem 0;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    @media screen and (min-width: $screen-sm) {
      margin-top: rem(100px);
    }
  }

  .charts-nav {
    display: flex;
    align-items: center;

    > h3 {
      display: inline-block;
    }
  }

  .charts {
    position: relative;
    min-height: rem(250px);
  }
}
