.legend {
  transform: translate3d(0, 0, 0);

  .list {
    width: 100%;
    height: rem(165px);
    overflow: scroll;
    list-style: none;
    margin: 0;
    padding: rem(10px) 0;
    transform: translate3d(0, 0, 0);

    > .item {
      width: 100%;
      display: flex;
      padding: rem(6px) 0;
      cursor: pointer;
      transform: translate3d(0, 0, 0);

      .icon-legend {
        margin-right: rem(10px);
      }

      .description {
        width: 85%;
        font-family: $font-secondary;
        font-size: rem($font-size-small);
        font-weight: 700;
        letter-spacing: rem(1px);
      }

      .value {
        width: 10%;
        font-family: $font-secondary;
        font-size: rem($font-size-small);
        font-weight: 400;
        letter-spacing: rem(1px); 
        text-align: right;
      }
    }

    &:hover > .item:not(:hover) {
      opacity: 0.3;
    }
  }
}