.featherlight{
  padding: 4rem 2rem;

  .featherlight-content {
    padding: rem(20px);
    width: 90%;
    max-width: rem(800px);

    background-color: $bg-color-5;
    border: none;
    overflow: visible;

    box-sizing: border-box;

    @media screen and (max-width: $screen-sm) {
      height: 100%;
    }

    .featherlight-inner {
      display: flex;
      overflow: auto;
      @media screen and (max-width: $screen-sm) {
        height: 100%;
      }
    }


    .featherlight-close-icon {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: rem(30px);
      height: rem(30px);
      top: rem(10px);
      right: rem(10px);

      color: $font-color-1;
      font-size: rem(25px);
      background-color: transparent;

      @media screen and (max-width: $screen-sm) {
        top: rem(-30px);
      }
    }
  }
}
