.m-tabs {
  .tabs {
    list-style: none;
    border: 1px solid rgba($white, 0.2);
    padding: rem(6px) rem(23px);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: rem(25px) 0;

    > .tab-title {
      margin-right: rem(20px);
      display: flex;
      &:last-child {
        margin-right: 0;
      }
      > a {
        font-family: $font-secondary;
        font-size: rem($font-size-small);
        letter-spacing: rem(1.3px);
        color: $font-color-1;
        opacity: 0.2;
        text-decoration: none;
        text-transform: uppercase;
      }
      &.-active {
        a {
          opacity: 1;
        }
      }
    }
  }

  .tab-content {
    display: none;

    &.-active {
      display: block;
    }
  }
}
