.search-form {
  padding: .625rem 0;
  position: relative;

  > .icon-search {
    position: absolute;
    top: rem(13px);
    left: rem(5px);
  }

  > input {
    height: rem(34px);
    width: 87%;
    padding-left: 40px;

    color: $font-color-1;
    line-height: rem(34px);

    background-color: transparent;
    border: 1px solid rgba($gray,0.2);

    @include placeholder {
      font-size: rem($font-size-small);
      letter-spacing: rem(1.3px);
      color: $font-color-1;
    }
  }
}
