.main-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .slick-slide {
    position: relative;
  }

  .slick-arrow {
    position: absolute;
    height: 62px;
    width: 62px;
    bottom: 0;
    box-sizing: border-box;

    line-height: 60px;

    cursor: pointer;
    overflow: hidden;
    z-index: 1;

    &::before {
      position: absolute;
    }

    &.slick-disabled {
      display: none !important;
    }

    @media screen and (min-width: $screen-sm) {
      width: 40px;
      height: 266px;
      top: 50%;
      bottom: auto;
      transform: translateY(-50%);

      &::after {
        position: absolute;
        display: block;
        top: 0;
        content: "";
        width: 200px;
        height: 266px;

        border-radius: 100%;

        z-index: -1;
      }
    }
  }

  .slick-prev {
    left: 0;
    border-right: 1px solid rgba($white, 0.2);

    &::before {
      @include arrow(14px, 2px, -45deg);
    }

    @media screen and (min-width: $screen-sm) {
      border-right: 0;

      &::after {
        left: -160px;
      }
    }
  }

  .slick-next {
    right: 0;
    border-left: 1px solid rgba($white, 0.2);

    &::before {
      @include arrow (14px, 2px, 135deg);
    }

    @media screen and (min-width: $screen-sm) {
      border-left: 0;
    }
  }

  .slick-dots {
    position: absolute;
    top: .9rem;
    left: 0;
    right: 0;

    list-style: none;
    z-index: 1;

    //wrap
    margin-right: auto;
    margin-left: auto;
    padding-left: 100px;
    padding-right: 20px;
    width: calc(100% - 40px);
    max-width: rem(1200px);

    > li {
      display: inline-block;

      padding: .5rem;

      cursor: pointer;

      button {
        font-size: 0;
        line-height: 0;

        display: block;

        width: rem(10px);
        height: rem(10px);

        border-radius: 50%;
        border: 1px solid;
        outline: none;
        background: transparent;

        &:focus, &:hover {
          outline: none;
        }
      }
    }
  }

  .cover, .map, .text {
    opacity:0;
  }


  &.slick-initialized {
    .cover, .map, .text {
      opacity:1;
    }
  }
}
