.main-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  
  @media screen and (min-width: $screen-sm) {
    height: 100%;
  }

  .slick-arrow {
    position: absolute;
    transform: translateY(-50%);
    z-index: 1;
    height: 66px;
    width: 100px;
    bottom:rem(29px);
    border: 1px solid rgba($white, 0.2);
    color: $font-color-1;
  }

  .slick-prev {
    left: 0;
    border-left: none;
  }

  .slick-next {
    right: 0;
    border-right: none;
  }

  @media screen and (min-width: $screen-sm) {
    .slick-arrow {
      top: 50%;
      border: none;
      padding: 0;
      width: 40px;
      height: 266px;
      color: transparent;
      overflow: hidden;

      &:after {
        content: "";
        display: block;
        width: 200px;
        height: 266px;
        border-radius: 100%;
        background: rgba($white, 0.2);
        position: absolute;
        top: 0;
        z-index: -1;
      }
      &:before {
        content: "";
        position: absolute;
        width: rem(14px);
        height: rem(14px);
        border-right: 2px solid $font-color-1;
        border-top: 2px solid $font-color-1;
        top: 130px;
      }
    }

    .slick-prev {
      &:before {
        transform: rotate(225deg);
        left:13px;
      }
      &:after {
        left: -160px;
      }
    }
    .slick-next {
      &:before {
        transform: rotate(45deg);
        right:13px;
      }
      &:after {
        right: -160px;
      }
    }

  }
}
