.tags {

  > h2 {
    display: inline-block;

    font-family: $font-secondary;
    font-size: rem(11px);
    line-height: 1.2;
    text-transform: uppercase;
    color: rgba($font-color-1, 0.6);

    @media (max-width: $screen-sm) {
      display: none;
    }
  }

  .tag {
    display: inline-block;
    margin-right: rem(5px);
    margin-top: rem(5px);
    padding: rem(8px);

    font-family: $font-secondary;
    font-size: rem(11px);
    font-weight: bold;
    line-height: 1.2;
    text-transform: uppercase;
    color: $font-color-2;

    background-color: rgba($font-color-1, 0.6);
  }
}
