.tags {

  > h2 {
    display: inline-block;

    font-family: $font-secondary;
    font-size: rem($font-size-small);
    line-height: 1.2;
    text-transform: uppercase;
    color: rgba($font-color-1, 0.6);

    @media (max-width: $screen-sm) {
      display: none;
    }
  }

  .tag {
    display: inline-block;
    margin-right: .3rem;
    margin-top: .3rem;
    padding: .5rem;

    font-family: $font-secondary;
    font-size: rem($font-size-small);
    font-weight: bold;
    line-height: 1.2;
    text-transform: uppercase;
    color: $font-color-2;

    background-color: rgba($font-color-1, 0.6);
  }
}
