.text {
  position: relative;
  height: 100vh;

  @extend %clearfix;
  @include veil($bg-color-3);

  .caption {
    position: relative;
    top: 100px;
    height: 70vh;

    font-size: rem(14px);

    z-index: 1;
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    @media screen and (min-width: $screen-sm) {
      top: 0;
      height: auto;
    }
  }

  .title {
    padding-bottom: rem(10px);
    padding-top: rem(10px);

    border-top: 4px solid $white;
    border-bottom: 4px solid $white;

    & > h2 {
      margin: 0;
      padding: 0;

      font-family: $font-main;
      font-size: rem(30px);
      line-height: 1.2;
      color: $font-color-1;
    }

    @media screen and (min-width: $screen-sm) {
      padding-right: 33%;
    }
  }

  @media screen and (min-width: $screen-sm) {
    display: flex;
    align-items: center;
  }



}
