.timeline {

  &.disabled {
    display: none;
  }

  &.enabled {
    display: block;
  }

  > .action {
    width: 100%;
    padding: rem(10px) 0;
    margin-top: rem(25px);
    text-align: center;
    display: inline-block;
    border-width: 2px;
    border-style: solid;

    > .icon {
      width: rem(18px);
      height: rem(22px);
    }

    &.playing {
      .icon-play {
        display: none;
      }
    }

    &.paused {
      .icon-pause {
        display: none;
      }
    }
  }
}