.-theme-1 {
  // Colors
  $t-black: #000;
  $t-white: #fff;
  $t-secondary: #333333;
  $basemap-color: #242426;

  // Theme definition
  $t-bg-color-1: $t-black;
  $t-bg-color-2: $t-white;
  $t-bg-color-3: $t-secondary;
  $t-font-color-1: $t-white;
  $t-font-color-2: $t-black;
  $t-font-color-3: $t-secondary;
  $t-border-color-1: $t-white;

  $default-opacity: 0.7;
  $arrows-opacity: 0.2;
  $chart-icon-opacity: 0.3;
  $map-basemap-opacity: 0.8;
  $map-basemap-shadow-opacity: 0.8;
  $map-basemap-selected-opacity: 0.5;

  // General
  $body-color: $t-bg-color-1;

  // Typography
  $main-color: $t-font-color-1;
  $title-border-color: $t-border-color-1;
  $title-border-width: 4px;

  // Menu
  $menu-dash-color: $t-bg-color-1;

  // Slick arrows
  $arrow-color: $t-font-color-1;
  $arrow-bg: rgba($t-font-color-1, $arrows-opacity);

  // Veil
  $veil-bg: rgba($t-bg-color-1, $default-opacity);

  // Tags
  $tag-color: $t-font-color-2;
  $tag-bg: rgba($t-font-color-1, $default-opacity);

  // Dashboard
  $dashboard-bg: rgba($t-bg-color-1, $default-opacity);

  // Map
  $map-background: $basemap-color;
  $map-basemap-bg: rgba($t-bg-color-1, $map-basemap-opacity);
  $map-basemap-shadow: 0px 10px 30px 0px rgba($t-bg-color-1, $map-basemap-shadow-opacity);
  $map-basemap-unselected: rgba($main-color, $map-basemap-selected-opacity);

  // Chart navigation
  $chart-icon: rgba($t-font-color-1, $chart-icon-opacity);

  color: $main-color;
  background-color: $body-color;

  // Loader

  ._is-loading {
    &:after {
      border-top-color: $t-bg-color-3;
    }
  }

  // Header

  .l-header{
    @media screen and (max-width: $screen-sm) {
      background: $t-bg-color-1;
      &._menu-open {
        background: none;
      }
    }
  }

  header:not(._menu-open) {
    .brands-container {
      background: linear-gradient(to bottom, rgba($t-bg-color-1, 1), rgba($t-bg-color-1, 0));
      @media screen and (max-width: $screen-sm) {
          background: none;
      }
    }
  }

  .dashboard {
    &:after {
      background: linear-gradient(to bottom, rgba($t-bg-color-1, 1), rgba($t-bg-color-1, 0));
      @media screen and (max-width: $screen-sm) {
        background: none;
      }
    }
  }

  // Brand

  header:not(._menu-open) {
    .brands {
      .brand {
        svg {
          fill: $t-font-color-1;
        }
      }
    }
  }

  // Menu

  header:not(._menu-open) {
    .btn-burguer {
      background-color: $t-white;
      span {
        background-color: $menu-dash-color;
      }
    }
  }

  // Slider

  .main-slider {
    .slick-arrow {
      color: $arrow-color;

      &::before {
        border-color: $arrow-color;
      }
      &::after {
        background-color: $arrow-bg;
      }
    }

    .slick-dots {
      > li {
        &.slick-active {
          button {
            background-color: $t-bg-color-2;
          }
        }
      }
    }
  }

  .text .image,
  .cover {
    // Veil
    &::after {
      background-color: $veil-bg;
    }
  }

  .text,
  .cover,
  .map {
    .title {
      border-width: $title-border-width;
      border-color: $title-border-color;
    }
  }

  // Tags

  // .tags .tag {
  //   color: $tag-color;
  //   background-color: $tag-bg;
  // }

  // Cover

  .partners {
    .action {
      background-color: transparent;
      color: $t-font-color-1;
      border-color: $t-border-color-1;
    }
  }

  // Dashboard

  .dashboard {
    background-color: $dashboard-bg;
  }

  // Map

  .map {
    .map-container {
      background: $map-background;
    }

    .basemap {
      > .content {
        > .action {
          color: $main-color;
          background-color: $map-basemap-bg;
        }

        > .list {
          background-color: $map-basemap-bg;

          > .item {
            color: $map-basemap-unselected;

            &.selected {
              color: $main-color;
            }
          }
        }
      }
    }

    .leaflet-control-zoom a , .leaflet-control-fit-map{
      background-color: $map-basemap-bg;
    }

    .slider-transparency {
      background-color: $map-basemap-bg;

      .title {
        color: $main-color;
      }

      .ui-slider {

        .ui-slider-handle {
          background-color: $main-color;

          &.ui-state-active {
            background-color: $main-color;
          }
        }

        &:after {
          background-color: $map-basemap-unselected;
        }
      }
    }
  }

  // Charts


  .chart {
    &.-palette1 {
      .axis {
        &.x {
          .tick {
            text {
              fill: $t-font-color-1;
            }
          }
        }
      }

      &.pie {
        .arc {
          path {
            fill-opacity: 1;
            stroke-width: 2;
          }
        }
      }

      &.bar {
        .bar {
          stroke-width: 1;
          fill-opacity: 1;
        }
      }

      &.line {
        .handle {
          stroke: $t-border-color-1;
        }
        .area {
          fill-opacity: 1;
          stroke-width: 0;
        }
        .line-path {
          stroke-width: 2;
        }
        text {
          fill: $t-font-color-1;
        }
      }
    }
    &.-palette2 {
      .axis {
        &.x {
          .tick {
            text {
              fill: $t-font-color-1;
            }
          }
        }
      }

      &.pie {
        .arc {
          path {
            fill-opacity: 1;
            stroke-width: 2;
          }
        }
      }

      &.bar {
        .bar {
          stroke-width: 1;
          fill-opacity: 1;
        }
      }

      &.line {
        .handle {
          stroke: $t-border-color-1;
        }
        .area {
          fill-opacity: 1;
          stroke-width: 0;
        }
        .line-path {
          stroke-width: 2;
        }
        text {
          fill: $t-font-color-1;
        }
      }
    }
  }

  // Charts Navigation

  .tabs {
    .tab-title {
      > a {
        color: $t-font-color-1;
      }
      .icon-chart {
        fill: $chart-icon;
      }

      &.-active {
        .icon-chart {
          fill: $t-font-color-1;
        }
      }
    }
  }

  // Charts legend

  .icon-legend {
    border-width: rem(1px);
    border-style: solid;
  }

  .-palette1  {
    .icon-legend {
      .icon-bg {
        opacity: 1;
      }
    }
  }

  .-palette2 {
    .icon-legend {
      .icon-bg {
        opacity: 1;
      }
    }
  }


  .chart-legend {
    > .action {
      &.selected {
        border-color: $t-border-color-1;
      }
    }
  }

  // Timeline

  .timeline {
    > .action {
      > .icon {
        fill: $t-font-color-1;
      }
    }
  }

  // Footer

  .footer {
    background-color: $t-bg-color-1;
  }
}
