.-theme-1 {
  color: $main-color;
  background-color: $body-color;

  .main-slider {
    .slick-arrow {
      color: $arrow-color;

      &::before {
        border-color: $arrow-color;
      }
      &::after {
        background-color: $arrow-bg;
      }
    }
  }

  .text,
  .cover {
    // Veil
    &::after {
      background-color: $veil-bg;
    }
  }

  .text,
  .cover,
  .map {
    .title {
      border-width: $title-border-width;
      border-color: $title-border-color;
    }
  }

  .tags .tag {
    color: $tag-color;
    background-color: $tag-bg;
  }

  .dashboard {
    background-color: $dashboard-bg;
  }
}
